*/*.iws
*/*Db.properties
*/*Db.script
*/.classpath
*/.project
*/.settings
*/target-eclipse
*/*.log
*/stacktrace.log
*/target
*/plugins
*/web-app/plugins
*/web-app/WEB-INF/classes
*/*.zip
*/*.zip.sha1
*/plugin.xml
*/bin
*/.link_to_grails_plugins
*/.metadata
Servers/
.metadata
*/.idea
*.iml
